<?xml version="1.0" encoding="utf-8"?>
<DataType Key="cdae8b4e-a78b-4edc-81e4-d4b35aaef5e0" Alias="Content Controls - Content Rows - Block List Property Editor UI" Level="1">
  <Info>
    <Name>Content Controls - Content Rows - Block List Property Editor UI</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "792a97ad-8952-4350-8aee-c009654e2979",
      "settingsElementTypeKey": "275c513a-37cb-4af9-8626-fda09fbf50c5",
      "label": "Rich Text: {{ content | ncRichText | truncate:true:50 }} {{$settings.hide == \u00271\u0027 ? \u0027[HIDDEN]\u0027 : \u0027\u0027}}"
    }
  ]
}]]></Config>
</DataType>