<?xml version="1.0" encoding="utf-8"?>
<Content Key="7f8e74ae-436b-4944-852b-2fbfdc9467e5" Alias="Authors" Level="2">
  <Info>
    <Parent Key="d46fe121-6bd8-4177-b785-232f1bf1cb53">My Collection App</Parent>
    <Path>/MyCollectionApp/Authors</Path>
    <Trashed>false</Trashed>
    <ContentType>authorList</ContentType>
    <CreateDate>2024-06-25T11:36:43</CreateDate>
    <NodeName Default="Authors" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="d98c1596-ab5d-4bdf-8016-4948df5faa89">authorList</Template>
  </Info>
  <Properties>
    <contentRows>
      <Value><![CDATA[]]></Value>
    </contentRows>
    <mainImage>
      <Value><![CDATA[]]></Value>
    </mainImage>
    <title>
      <Value><![CDATA[]]></Value>
    </title>
  </Properties>
</Content>