<?xml version="1.0" encoding="utf-8"?>
<Content Key="b35f97f1-e363-472e-8d1d-7f1d0efb3b02" Alias="Curie Pereira" Level="3">
  <Info>
    <Parent Key="7f8e74ae-436b-4944-852b-2fbfdc9467e5">Authors</Parent>
    <Path>/MyCollectionApp/Authors/CuriePereira</Path>
    <Trashed>false</Trashed>
    <ContentType>author</ContentType>
    <CreateDate>2024-06-26T11:39:48</CreateDate>
    <NodeName Default="Curie Pereira" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="697d7e05-b6bb-4a5b-a252-534684eaf1be">author</Template>
  </Info>
  <Properties>
    <contentRows>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "792a97ad-8952-4350-8aee-c009654e2979",
      "udi": "umb://element/c0dda1c5dc1d461da3952282353b1907",
      "content": "{\u0022markup\u0022:\u0022\\u003Cp\\u003EI am Curie Pereira born and brought up amidst the scenically beautiful land of Goa. But destiny took me miles away from it and now I am a resident of Vadodara, Gujarat. After my 22 years of teaching in a general school now God has blessed me to serve the special children. Writing has been my passion and the wonderful experiences of the teacher student relationship has been the driving force behind my every story. So enjoy my subtle creations as they gently unfold themselves.\\u003C/p\\u003E\u0022,\u0022blocks\u0022:{\u0022contentData\u0022:[],\u0022settingsData\u0022:[],\u0022Layout\u0022:{}}}"
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "275c513a-37cb-4af9-8626-fda09fbf50c5",
      "udi": "umb://element/c8e5d52e44fd488cab885bd3764e2d2d"
    }
  ],
  "Layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/c0dda1c5dc1d461da3952282353b1907",
        "settingsUdi": "umb://element/c8e5d52e44fd488cab885bd3764e2d2d"
      }
    ]
  }
}]]></Value>
    </contentRows>
    <mainImage>
      <Value><![CDATA[[
  {
    "key": "1a13db84-73ee-4186-b3d3-48b7fa044a69",
    "mediaKey": "57ccf4e5-eaac-4f24-b3e3-3f47c3279cb1",
    "mediaTypeAlias": "",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </mainImage>
    <mainImageUrl>
      <Value><![CDATA[]]></Value>
    </mainImageUrl>
    <title>
      <Value><![CDATA[Curie Pereira]]></Value>
    </title>
  </Properties>
</Content>