<?xml version="1.0" encoding="utf-8"?>
<Content Key="24803caf-b9c9-4653-8f83-f62c0b99da3e" Alias="Golda Gracias" Level="3">
  <Info>
    <Parent Key="7f8e74ae-436b-4944-852b-2fbfdc9467e5">Authors</Parent>
    <Path>/MyCollectionApp/Authors/GoldaGracias</Path>
    <Trashed>false</Trashed>
    <ContentType>author</ContentType>
    <CreateDate>2024-06-25T11:37:04</CreateDate>
    <NodeName Default="Golda Gracias" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="697d7e05-b6bb-4a5b-a252-534684eaf1be">author</Template>
  </Info>
  <Properties>
    <contentRows>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "792a97ad-8952-4350-8aee-c009654e2979",
      "udi": "umb://element/4de16d0555ac46479e9b102f68e743a5",
      "content": "{\u0022markup\u0022:\u0022\\u003Cp\\u003EMy name is Golda Gracias and I live in the beautiful village of Cansaulim located in Goa. I am an amateur writer, and this is \\u2018My Collection\\u2019 of various articles written in Roman Konkani. Get set to dive into an extensive range of realistic topics with captivating content. Happy Reading!!!\\u003C/p\\u003E\u0022,\u0022blocks\u0022:{\u0022contentData\u0022:[],\u0022settingsData\u0022:[],\u0022Layout\u0022:{}}}"
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "275c513a-37cb-4af9-8626-fda09fbf50c5",
      "udi": "umb://element/97b5e124855d402fae5dca15946c0cee"
    }
  ],
  "Layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/4de16d0555ac46479e9b102f68e743a5",
        "settingsUdi": "umb://element/97b5e124855d402fae5dca15946c0cee"
      }
    ]
  }
}]]></Value>
    </contentRows>
    <mainImage>
      <Value><![CDATA[[
  {
    "key": "32bdd41f-bad0-460d-a673-0e199423da24",
    "mediaKey": "98a21beb-9255-4f74-b634-0a2f6051c096",
    "mediaTypeAlias": "",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </mainImage>
    <mainImageUrl>
      <Value><![CDATA[]]></Value>
    </mainImageUrl>
    <title>
      <Value><![CDATA[Golda Gracias]]></Value>
    </title>
  </Properties>
</Content>