<?xml version="1.0" encoding="utf-8"?>
<Content Key="d46fe121-6bd8-4177-b785-232f1bf1cb53" Alias="My Collection App" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/MyCollectionApp</Path>
    <Trashed>false</Trashed>
    <ContentType>home</ContentType>
    <CreateDate>2024-06-25T11:18:03</CreateDate>
    <NodeName Default="My Collection App" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="dfeb8651-2f6d-4f1f-b675-2a44e292ee51">home</Template>
  </Info>
  <Properties>
    <contentRows>
      <Value><![CDATA[]]></Value>
    </contentRows>
    <mainImage>
      <Value><![CDATA[]]></Value>
    </mainImage>
    <title>
      <Value><![CDATA[]]></Value>
    </title>
  </Properties>
</Content>