<?xml version="1.0" encoding="utf-8"?>
<Content Key="e682c4d4-3f08-4dc5-8fa2-97b43b885917" Alias="Test1" Level="3">
  <Info>
    <Parent Key="c61beebd-3547-4ab2-87db-1a84bd9955ad">Articles</Parent>
    <Path>/MyCollectionApp/Articles/Test1</Path>
    <Trashed>false</Trashed>
    <ContentType>article</ContentType>
    <CreateDate>2024-06-25T11:33:15</CreateDate>
    <NodeName Default="Test1" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="350d8799-e8e3-4d51-9133-d8710449028c">article</Template>
  </Info>
  <Properties>
    <articleDate>
      <Value><![CDATA[2024-06-26T00:00:00]]></Value>
    </articleDate>
    <author>
      <Value><![CDATA[umb://document/24803cafb9c946538f83f62c0b99da3e]]></Value>
    </author>
    <contentRows>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "792a97ad-8952-4350-8aee-c009654e2979",
      "udi": "umb://element/4e64f0ac59824208962f04b8efc727a7",
      "content": "{\u0022markup\u0022:\u0022\\u003Cp\\u003ETest123\\u003C/p\\u003E\u0022,\u0022blocks\u0022:{\u0022contentData\u0022:[],\u0022settingsData\u0022:[],\u0022Layout\u0022:{}}}"
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "275c513a-37cb-4af9-8626-fda09fbf50c5",
      "udi": "umb://element/6bc88fec4d8d42de8943c1688d647afe"
    }
  ],
  "Layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/4e64f0ac59824208962f04b8efc727a7",
        "settingsUdi": "umb://element/6bc88fec4d8d42de8943c1688d647afe"
      }
    ]
  }
}]]></Value>
    </contentRows>
    <mainImage>
      <Value><![CDATA[]]></Value>
    </mainImage>
    <title>
      <Value><![CDATA[Test1]]></Value>
    </title>
  </Properties>
</Content>