<?xml version="1.0" encoding="utf-8"?>
<Content Key="2249cbb1-a4fc-4c5f-ad8b-102998a3705f" Alias="Test2" Level="3">
  <Info>
    <Parent Key="c61beebd-3547-4ab2-87db-1a84bd9955ad">Articles</Parent>
    <Path>/MyCollectionApp/Articles/Test2</Path>
    <Trashed>false</Trashed>
    <ContentType>article</ContentType>
    <CreateDate>2024-06-28T07:25:15</CreateDate>
    <NodeName Default="Test2" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="350d8799-e8e3-4d51-9133-d8710449028c">article</Template>
  </Info>
  <Properties>
    <articleDate>
      <Value><![CDATA[]]></Value>
    </articleDate>
    <author>
      <Value><![CDATA[umb://document/b35f97f1e363472e8d1d7f1d0efb3b02]]></Value>
    </author>
    <contentRows>
      <Value><![CDATA[]]></Value>
    </contentRows>
    <mainImage>
      <Value><![CDATA[]]></Value>
    </mainImage>
    <title>
      <Value><![CDATA[Test2]]></Value>
    </title>
  </Properties>
</Content>