<?xml version="1.0" encoding="utf-8"?>
<Media Key="74f9bce1-3f76-44c4-9e05-a5a2d07b95be" Alias="Authors" Level="2">
  <Info>
    <Parent Key="8a0de0d0-0847-4fdc-8fbd-037a9c3d9367">My Collection App</Parent>
    <Path>/MyCollectionApp/Authors</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2024-06-26T11:33:41</CreateDate>
    <NodeName Default="Authors" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties />
</Media>