<?xml version="1.0" encoding="utf-8"?>
<Media Key="57ccf4e5-eaac-4f24-b3e3-3f47c3279cb1" Alias="Curie profile image" Level="3">
  <Info>
    <Parent Key="74f9bce1-3f76-44c4-9e05-a5a2d07b95be">Authors</Parent>
    <Path>/MyCollectionApp/Authors/CurieProfileImage</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-06-26T11:37:55</CreateDate>
    <NodeName Default="Curie profile image" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": {
    "left": 0.5,
    "top": 0.5
  },
  "crops": [],
  "src": "/media/ni5ivyof/curie.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>