<?xml version="1.0" encoding="utf-8"?>
<Media Key="98a21beb-9255-4f74-b634-0a2f6051c096" Alias="Golda Profile image" Level="3">
  <Info>
    <Parent Key="74f9bce1-3f76-44c4-9e05-a5a2d07b95be">Authors</Parent>
    <Path>/MyCollectionApp/Authors/GoldaProfileImage</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-06-26T11:35:51</CreateDate>
    <NodeName Default="Golda Profile image" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": {
    "left": 0.5,
    "top": 0.5
  },
  "crops": [],
  "src": "/media/mtipilr2/golda.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>