<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="a825a11d-081f-46f2-9770-38bdfce4bca0" Alias="authorList" Level="3">
  <Info>
    <Name>Author List</Name>
    <Icon>icon-users color-light-blue</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <ListView>00000000-0000-0000-0000-000000000000</ListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>My+Collection+App/Pages</Folder>
    <Compositions>
      <Composition Key="9140dfe0-cebe-4ce2-b367-879e6cadb655">contentControls</Composition>
      <Composition Key="28767056-f4bd-4a48-a5c4-a54212cc764a">headerControls</Composition>
    </Compositions>
    <DefaultTemplate>authorList</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="d98c1596-ab5d-4bdf-8016-4948df5faa89">authorList</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="afe19445-6f92-428c-b818-1cf5856cf5c8" SortOrder="0">author</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>