<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="31093211-781a-4fae-acf4-110b3a1d1a72" Alias="home" Level="3">
  <Info>
    <Name>Home</Name>
    <Icon>icon-home color-light-blue</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>True</AllowAtRoot>
    <ListView>00000000-0000-0000-0000-000000000000</ListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>My+Collection+App/Pages</Folder>
    <Compositions>
      <Composition Key="9140dfe0-cebe-4ce2-b367-879e6cadb655">contentControls</Composition>
      <Composition Key="28767056-f4bd-4a48-a5c4-a54212cc764a">headerControls</Composition>
    </Compositions>
    <DefaultTemplate>home</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="dfeb8651-2f6d-4f1f-b675-2a44e292ee51">home</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="3b7870a8-9854-4438-9f47-0b0aca4f2847" SortOrder="0">articleList</ContentType>
    <ContentType Key="a825a11d-081f-46f2-9770-38bdfce4bca0" SortOrder="1">authorList</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>